<body id="signin">
<div class="main">
        <div class="pageHeader">
            <h2 class="title">Login</h2>
        </div><!-- .banner -->
        <div class="content">

            <div class="sign_in_fb">
                    <div id="signin_button">
					    <%= form_tag ({:controller=> "welcome", :action=> "login"}) do %>
            
					             <div id="signin_button">
					                 <%= image_submit_tag  ("/assets/fb_login.png") %>
					             </div>
					         <% end %>                
                    </div>
            </div>

            <p class="or">or</p>
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html =>{:class=>"form"} ) do |f| %>
            <ul class="inputs">
              <li class="item">
					<%= f.label :email %>
					<%= f.email_field :email, :autofocus => true %>
			 </li>	
			 <li class="item">
				 <%= f.label :password %>
				<%= f.password_field :password %>
			</li>
				<label>&nbsp;</label>
				<%= f.submit "Sign in" , class: "buttonBlue"%>
				
			<% end %>
                <p><%= render "devise/shared/links" %></p>
            </form>

        </div><!-- .content -->
    </div><!-- .main -->


</body>