<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company_email.name %>
</p>

<p>
  <b>Email:</b>
  <%= @company_email.email %>
</p>


<%= link_to 'Edit', edit_company_email_path(@company_email) %> |
<%= link_to 'Back', company_emails_path %>
