<body id="signup">
<div class="main">
   
        <div class="content">

            <div class="sign_in_fb">
                    <div id="signin_button">
					    <%= form_tag ({:controller=> "welcome", :action=> "login"}) do %>
            
					             <div id="signin_button">
					                 <%= image_submit_tag  ("/assets/fb_login.png") %>
					             </div>
					         <% end %>                
                    </div>
              </div>

            <p class="or">or</p>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html =>{:class=>"form"} ) do |f| %>
			<%= devise_error_messages! %>
            <ul class="inputs">
              <li class="item">
					<%= f.label :email %>
					<%= f.email_field :email, :autofocus => true %>
			 </li>	
			 <li class="item">
				 <%= f.label :password %>
				<%= f.password_field :password %>
			</li>
			<li class="item">
				<%= f.label :confirm_password %>
				  <%= f.password_field :password_confirmation %>
			</li>
			<li class="item">
			    <% if Rails.env== 'production' %>
			    	<%= recaptcha_tags %>
			    <%  end %>
			</li>
			<li class="item">
				  <label>By clicking Sign Up, you agree to our <a href="/terms">Terms &Conditions</a> </label>
			</li>
				<label>&nbsp;</label>
				<%= f.submit "Sign Up" , class: "buttonBlue"%>
			</li>	
			<% end %>
		
           	    <p><%= link_to 'Create Vox without login',"/posts/singlevox"%>

        </div><!-- .content -->
    </div><!-- .main -->

</body>