
<div id="sign_in">
<div class="sign_in_fill">
  <h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %></div>
  <div class="field"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class="field"><%= f.label :confirm_password %><br />
  <%= f.password_field :password_confirmation %></div>

  <%#= recaptcha_tags %>
  <label>By clicking Sign Up, you agree to our <a href="/terms">Terms &Privacy</a> </label></br>
<br/>  <div class="field"><%= f.submit "Sign up" %></div>
<% end %>
  <%= render :partial => "devise/shared/links" %>
</div>
</div>

