<table>
  <tr>
    <td><%= submit_tag "Whatis Umvox?" %></td>
    <td>
      <%= form_tag('/posts/new',:method=>:get) do%>
        <%= submit_tag "File Umvox" %>
      <% end %>
    </td>
    <td>
      <% if session['user'] %>
       <%= form_tag("/posts", :method=>:get) do %>
        <%= submit_tag "My Umvox" %>
      <% end %>
      <% end %>
     </td>
      
    <td>
      <%= form_tag("/posts", :method=>:get) do %>
        <%= hidden_field_tag "all", 'true'%>  
        <%= submit_tag "All Umvox" %>
      <% end %>
    </td>
    <td>
      <% if session['user'] %>
        <%= form_tag("/members/dashboard", :method=>:get) do %>
          <%= submit_tag "Dashboard" %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if session[:user] and session[:user].admin == true  %>
      <%= form_tag("/email/viewmail", :method=>:get) do %>
        <%= submit_tag "Send email" %>
      <% end %>
      <% end %>
    </td>
    <td>
    <% if !session['user'] %>
            
         <%= form_tag("/welcome", :method=>:get) do %>
            
            <div id="signin_button">
                <%= submit_tag "Sign In" %>
            </div>
        <% end %>
       <% else %>
        <td>
           <%= form_tag ({:controller=>"welcome", :action=>"logout"}) do %>
              <%= submit_tag "Logout" %>
          <% end %>
      </td>
    <% end %> 
    </td>
    <td>
      <% if session['user'] %>
         <%= form_tag ("/members/myprofile") do %>
            <%= submit_tag "My Profile" %>
        <% end %>
      <% end %>
    </td>
  </tr>
  
</table>

