<div id="main">
<div id="header">
<div class="wrapper relative">
<h1 class="logo">
	<a href="/welcome"><img src="/assets/logo.png" alt="" title="UmVox" /></a>
</h1>
<div class="menu_1">
   <%= form_tag('/welcome/howitworks',:method=>:get) do%>
        <%= submit_tag "What is Umvox?" %>
      <% end %>
	  <span> / </span>
      <% if (!current_user.nil? || !session[:user].nil?) %>    
          <%= form_tag('/posts/new',:method=>:get) do%>
            <%= submit_tag "File Vox" %>
          <% end %>
            <span> / </span>
          <% end %>
	
      <%= form_tag('/posts/browse',:method=>:get) do%>
        <%= submit_tag "Browse Vox" %>
      <% end %>
      <span> / </span>
      <% if (!current_user.nil? || !session[:user].nil?) %>    
       <%= form_tag("/posts", :method=>:get) do %>
        <%= submit_tag "My Umvox" %>
      <% end %>
      <%#*<span> / </span>%>
     <% end %> 
    
      <%#= form_tag("/posts", :method=>:get) do %>
        <%#= hidden_field_tag "all", 'true'%>  
        <%#= submit_tag "All Umvox" %>
      <%# end %>
      
      <%# if session['user'] %>
        <%#= form_tag("/members/dashboard", :method=>:get) do %>
          <%#= submit_tag "Dashboard" %>
        <%# end %>
      <%# end %>
    
      <%# if session[:user] and session[:user].admin == true  %>
      <%#= form_tag("/email/view", :method=>:get) do %>
        <%#= submit_tag "Send email" %>
      <%# end %>
      <%# end %>
    </div>
	<div class="menu_2">
      <% if session['user'] %>
         <%= link_to session['user'].username, "/members/#{session['user'].id}" %>
      <% end %>
    
    <% if !session['user'] %>
            
         <%= form_tag("/users/sign_in", :method=>:get) do %>
            
            <div id="signin_button">
                <%= submit_tag "Sign In" %>
            </div>
        <% end %>
       <% else %>
        
          <%= form_tag("/users/sign_out",:method=>:DELETE) do %>
            <%= submit_tag "(LogOut)" %>
          <% end %>
      
    <% end %> 
    </div>

</div>
</div>
<div class="content">
<div class="wrapper">
  
  