<div id="main">
<div id="header">
<div class="wrapper relative">
<div class="container">
<div class="logo">
	<a href="/members/dashboard"><img src="/assets/logo1.png" alt="" title="UmVox" /></a>
</div>

<nav class="nav">
<ul>
      <li><%= link_to 'Home', '/members/dashboard' %> </li>
	  <li> <%= link_to 'What is Umvox', '/welcome/howitworks?utf8=%E2%9C%93&commit=What+is+Umvox'%></li>
      <% if (!current_user.nil? || !session[:user].nil?) %>
         
          <li> <%= link_to 'File Vox', '/posts/new' %></li>  
          <% end %>
		  
    <li><%= link_to 'Browse Vox', '/posts/browse?utf8=%E2%9C%93&commit=Browse+Vox' %></li>
     
	 <% if (!current_user.nil? || !session[:user].nil?) %>  
      <li><%= link_to 'My Umvox', '/posts?utf8=?&commit=My+Umvox' %></li>
     <% end %> 
    
      <%#= form_tag("/posts", :method=>:get) do %>
        <%#= hidden_field_tag "all", 'true'%>  
        <%#= submit_tag "All Umvox" %>
      <%# end %>
      
	  
	  <% if session['user'].present? %>
		<li><%= link_to 'Dashboard', '/members/dashboard' %></li>
	  <% end %>
    
	<% if (session[':user'].present? && session[:user].admin.present?) %>
		<li><%= link_to 'Send email', '/email/view' %></li>
    <% end %>
   </ul>
	</nav>
	
	<div class="menu_2">
      <% if session['user'] %>
         <%= link_to session['user'].username, "/members/#{session['user'].id}" %>
      <% end %>
    
    <% if !session['user'] %>
            
         <%# form_tag("/users/sign_in", :method=>:get) do %>
            
             <%#<div id="signin_button">%>
                 <%# submit_tag "Sign In" %>
           <%# </div>%>
        <%# end %>
       <% else %>
        
          <%= form_tag("/users/sign_out",:method=>:DELETE) do %>
            <%= submit_tag "(LogOut)" %>
          <% end %>
      
    <% end %> 
    </div>

	</div>
<!-- **container close above** -->
</div>
</div>
<div class="container">
<div class="content">
<div class="wrapper">
  
  