    <div class="header">
        <div class="content">
            <h1 class="logo"><%= link_to 'UmVox - You\'re Voice, Our Fight!',root_path %></h1>
            <a class="searchButton" href="#" title="search">search UmVox</a>
            <div class="searchBar">
                <form accept-charset="UTF-8" action="/posts/search" method="get">
                    <input class="search" id="search" name="search" placeholder="Type your search here..." type="text">
                    <input class="buttonSearch" name="commit" type="submit" value="Search Vox">
                </form>
            </div>
            
				<% if (user_signed_in? || !session[:user].nil?) %>
					<ul class="log">    	
					</ul>	
                <% else %>
					<ul class="log">
						<li><a class="buttonLog" href="/users/sign_in" title="login">Login</a></li>
						<li><a class="buttonSign" href="/users/sign_up" title="signup">Signup</a></li>
					</ul>
				<% end %>

            <ul class="nav">
                <li><%= link_to 'What is Umvox', '/welcome/howitworks', class: 'what', title:"What is Umvox?"%></li>
				<% if (user_signed_in? || !session[:user].nil?) %>
					<li><a href="/posts/new" class="create" title="Create a Vox">Create a Vox</a></li>
					<li><%= link_to 'Resolve/View Voxes', '/members/dashboard' %></li>
					<li><%= link_to session['user'].username, "/members/#{session['user'].id}" %></li>
					<li> 
						<%= form_tag("/users/sign_out",:method=>:DELETE, :class=>"log") do %>
							<%= submit_tag "LogOut", :class=>"buttonLog" %>
						<% end %>
					</li>	
				<% end %>
				
            </ul>
        </div>
    </div>