<div id="main">
<div class="content">
	<div class="wrapper">
		  <div class="left_section_part flt">
		       <div class="main">
                         <h1 class="title"> <%=post.question %></h1> <br/>
                         <div class="body">
                           <div class="main_box">
                             <% if post.posttype == 'Complaint' %>
                              <div class="vox_entry complaint">
                              <% elsif post.posttype == 'Compliment' %>  
                                <div class="vox_entry compliment">
                              <% else %>  
                                <div class="vox_entry question">
                              <% end %>      
                                  <span class="cat"></span>  
                                <div class="padder">
                               <div class="btm_line">
                                 <div class="comment">
                                   <span class="backers">Vox Status: <%= post.status %> </span>
                                   <span class="date">Created At : <%= post.created_at.to_date %> </span>
                                   
                                 </div>
                              </div>
                                  <%=simple_format(post.description)  %>
						       </div>
							   <% if post.resolve_vox.nil?%>
						     	 <div class="btm_line">
	                            	 <div class="comment">
	                              	   <span class="backers">Posted By <%= User.find(post.user_id).username %>  </span>
                                   	</div>
								 </div>
							   <% end %>
                           </div>
						  <% unless post.resolve_vox.nil?%>
						  <div class="vox_entry complaint">
							  <div class ="padder">
								  <b>Yay , Umvox , helped us resolve.</b>
								  <%=simple_format(post.resolve_vox)  %>
							      <div class="btm_line">
		                            <div class="comment">
		                              <span class="backers">Posted By <%= User.find(post.user_id).username %>  </span>
                                    </div>
		                         </div>
							  </div>	 
		   				  </div>
						  <% end %>
                         </div>
                      </div>  
                    </div>
  				 
                  </div>
				 
		  <div class="sidebar flr">
			  <div class="brown_box">
				<div class="head">
				  <h2>Service</h2>
				</div>
				<div class="body">
				  <div class="sb_cat_links">
                                    <b>Category</b> : <%= post.location.category %>
				  </div>
                                  <div class="sb_cat_links">
                                    <b>Company :</b>
                                      <br/> 
                                             <%=  post.location.name %><br/>
                                      
                                      <% unless post.location.city == ''  %>
					 <%=  post.location.city %><br/>
                                      <% end %>
                                 
                                        
				  </div>
                                  
                                   <% if post.posttype != 'Compliment' %>
                                    <div class="sb_cat_links">
                                      <b>Looking for : </b>
                                      <% str = '' %>
                                      <% Compensation.all.each do |compensation| -%>
                                        <% if @post.compensation.include?(compensation.name.to_s) -%>
                                              <% str+= compensation.name.to_s+ " & " %>
                                        <% end %>
                                        <% end %>
                                      <%= label_tag :compensation, str[0..-3] -%>
				  </div>
                                  <% end  %>
                                  <div class="sb_cat_links">
                                      <b>Scenario : </b>
                                      <% str = '' %>
                                      <% Scenarios.all.each do |scenario| -%>
                                        <% if @post.scenario.include?(scenario.id.to_s) -%>
                                              <% str+= scenario.name.to_s+ " & " %>
                                        <% end %>
                                        <% end %>
                     
					 
					                  <%= label_tag :compensation, str[0..-3] -%>
				  </div>
                                  
				</div>
			  </div>
			  <div class="brown_box">
				<div class="head">
				  <h2>Share this vox</h2>
				</div>
				<div class="body">
					<div class="sb_quick_stats">
					  <%#*<div class="row">%>
						<div class="fb-like" data-href="https://umvox.com/<%=post.parameterize %>" data-send="true" data-width="450" data-show-faces="true"></div>
						<label><%= render "/shared/tweet_button",:post =>post %></label>
					  <%#*</div>%>
					</div>
				</div>
			  </div>
		  </div>
		 

</div>

</div>
<div class="clear_footer1"></div>
</div>
</div>
</div>
 

