
<table border ="1">
  <tr>
    <td rowspan="3">
      <p>
        
        <% unless post.location.nil? %>
          <%= post.location.name %>, <%= post.location.address %><br/>
          <%= post.location.city %> <%= post.location.zipcode %>
          <br/>
         <% end %>
          <b> <%=post.posttype %>: <%= post.question %></b> <br/>
           Filed At <%=post.created_at.strftime("%d %b %y")  %>  &nbsp;&nbsp;&nbsp;   Last Updated <%= post.updated_at.strftime("%d %b %y") %></br>
         </br>
         <%= post.description %></br></br></br>
         <% post.assets.each  do |asset_fields| %>
                  <%= link_to image_tag(asset_fields.image.url(:thumb)),asset_fields.image.url(:original) %>
        <% end %>

         Posted By <%= User.find(post.user_id).firstname   %>
      </p>
    </td>
    <td>
        Complaint Status:<%= post.status %>
        <% emailStat = EmailStat.find_by_postId(post.id) %>
        <% unless emailStat.nil? %>
        
          The email was sent on  <%= emailStat.lastsent %>
        <% end %>
    </td>
  <tr>
    <td>
      Share this on 
       Facebook &nbsp;&nbsp;<%= render "/shared/tweet_button",:post =>post %>
    </td>
  </tr>  
  </tr>
  <tr>
    <td>
      Service Info
      Company <% post.location.name %>
      Category: 
      <% unless post.location.category.nil? -%>
        <%= post.location.category %>
      <% end -%>
    </td>
  </tr>
</table>


<br/><br/>
