<div id="main">
<div class="content">
	<div class="wrapper">
		  <div class="left_section_part flt">
		       <div class="main">
                         <h1 class="title"> <%=post.question %></h1> <br/>
                         <div class="body">
                           <div class="main_box">
                             <% if post.posttype == 'Complaint' %>
                              <div class="vox_entry complaint">
                              <% elsif post.posttype == 'Complement' %>  
                                <div class="vox_entry compliment">
                              <% else %>  
                                <div class="vox_entry question">
                              <% end %>      
                                  <span class="cat"></span>  
                                <div class="padder">
                               <div class="btm_line">
                                 <div class="comment">
                                   <span class="backers">#<%= post.id %> </span>
                                   <span class="date">Created At:<%= post.created_at %> </span>
                                 </div>
                              </div>
                             <p><%= post.description.to_s.force_encoding("UTF-8") %></p>
                               <div class="btm_line">
                                 <div class="comment">
                                   <span class="backers">Posted By <%= User.find(post.user_id).username %>  </span>
                                 </div>
                              </div>
                               </div>
                           </div>
                         </div>
                      </div>  
                    </div>
                  </div>
		  <div class="sidebar flr">
			  <div class="brown_box">
				<div class="head">
				  <h2>Service</h2>
				</div>
				<div class="body">
				  <div class="sb_cat_links">
					Category : <%= link_to post.location.category %>
				  </div>
				</div>
			  </div>
			  <div class="brown_box">
				<div class="head">
				  <h2>Share this vox</h2>
				</div>
				<div class="body">
					<div class="sb_quick_stats">
					  <div class="row">
						<label>Facebook</label>
						<label><%= render "/shared/tweet_button",:post =>post %></label>
					  </div>
					</div>
				</div>
			  </div>
		  </div>
		  <div class="clr"></div>

</div>

</div>
<div class="clear_footer1"></div>
</div>
</div>
</div>
 

