<div class="vox_manual">
<div class="vox_list_main">
            	<ul>
                
<% if post.posttype == 'Complaint' %>
<li class="vox_entry complaint">
<% elsif post.posttype == 'Complement' %>  
  <li class="vox_entry compliment">
<% else %>  
  <li class="vox_entry question">
<% end %> 
   <div class="vox_type question">
                        	
                        </div>

	<div class="vox_main_conte">
	                        	<div class="vox_main_conte1">
                            	<div class="vox_conte_cont">
                                <%= post.description.split(' ')[0,15].inject{|sum,word| sum + ' ' + word}  %>
                                </div>
                                <div class="vox_conte_cont1">
                                <div class="vox_conte_cont_cate">
                                <ul>
                                	<li>Category <span>Service</span></li>
                                    <li>Company <span class="company"><%= post.location.name%></span></li>
                                </ul>
                                </div>
                                <div class="vox_conte_cont_comm_b">
                                	<ul>
									<% backer= 0 %>
				<% if post.comments.size > 0 %>
				   <% post.comments.each do |comment| %>
						<% if comment.is_backer == true %>
						   <% backer =backer+1 %>
					   <% end %>
				   <% end %>  
				<% end %>
                                    	<li><%= post.comments.size %> comments</li>
                                        <li><%= backer %> backers</li>
                                    </ul>
                                </div>
                                </div>
                                <div class="vox_main_time_auth1"><%= post.created_at %></div>
                                <div class="vox_main_conte1_arrow">
                                </div>
                                
                            </div>
                            
                            <div class="vox_main_time_auth">
                            	
                                <div class="vox_main_time_auth2">Posted By : <%= User.find(post.user_id).username %></div>
                            	<div class="vox_main_time_auth_B"><%= link_to  "Read More","/posts/#{post.parameterize}",:class=>"read_more" %> 
											<div class="vox_main_time_auth_B"><%= link_to  "Edit ","/posts/#{post.parameterize}/edit",:class=>"read_more" %> 
								</a></div>
                            </div>
                            
                        </div>
						
</li>

<!-- -->

</ul>
</div>
</div>