
<%= form_for @post,:html =>{:multipart => true} do |f| %>
  <div id="divstep1">     
     <div class="field">
        <b> <%= f.hidden_field :company,:id=>"post_company" %><br /></b>
      </div>
    <div class="field">
       <%= f.radio_button :posttype, 'Question', :checked => true %> 
      <%= label :posttype_question, 'Question' %>
      <%= f.radio_button :posttype, 'Complaint' %>
      <%= label :posttype_complaint, 'Complaint' %>
      <%= f.radio_button :posttype, 'Complement' %>
      <%= label :posttype_complement, 'Complement' %>
    </div>


    <div class="field">
      <b><%= f.label :status %> </b>
        <%= f.select("status", options_for_select([['Open', 'Open'],
                     ['Resolved', 'Resolved']], '1')) %>
    </div>

      <div class="field">
        <b><%= f.label :question,:id=>"lbl_question" %><br /></b>
        <%= f.text_field :question %>
      </div>
      <div class="field">
        <b>  <%= f.label :description %><br /></b>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <b> <%= f.label :category %><br /></b>
        <%= f.collection_select :category, Category.all, :name, :name %>
      </div>

      <div class="field">
         <% if !@post.scenario.nil? -%>
          <b> <%= f.label :scenario %><br /></b>
            <% Scenarios.all.each do |scenario| -%>
            <%= check_box_tag 'post[scenario][]', scenario.id, @post.scenario.include?(scenario.id.to_s) -%>
            <%= label_tag :scenario, scenario.name -%>
          <% end %>
       <% end %> 
      </div>
      <div class="field">
         <% if !@post.compensation.nil? -%>
          <b><%= f.label :compensation %><br /></b>
           <% Compensation.all.each do |compensation| -%>
            <%= check_box_tag 'post[compensation][]', compensation.name, @post.compensation.include?(compensation.name.to_s) -%>
            <%= label_tag :compensation, compensation.name -%>
            <% end %>
        <% end %>
      </div>
<%#*end of step1%>
  <p><%=button_tag "Continue to next Step", :id=>"btnStep1", :remote=>"true" %></p>
</div>

<div id="divstep2" style="display:none">
  
   <div class="field">
      <b> <%= f.hidden_field :company,:id=>"post_company" %><br /></b>
    </div>
    <table>
      <tr>
      <th>Company</th>
      <th>City</th>
      <th>ZipCode</th>
      </tr>
      <tr>
        <td><%= text_field_tag :company %></td>
        <td><%= text_field_tag :city %></td>
        <td><%= text_field_tag :zipcode %></td>
         <td><%= submit_tag 'search', :id=>'btnfindAddress', :name=>"btnfindAddress"%></td>
      </tr>
    </table>
   <div id="finallocations">
     <b> <%= label :lbl_company,'',:id=>"lbl_company" %></b>
  </div>  
  <div id="newAddress">
    <p>Do you want to enter Address  <%=  check_box :new_address,:address  %></p>
    <div class="full_add" style="display:none">
      <table>
        <tr>
          <td> Name <%= text_field :full_add, :name%> </td>
          <td> Address <%= text_field :full_add, :address%> </td>
        </tr>
         <tr>
          <td> City <%= text_field :full_add, :city%> </td>
          <td> Zipcode <%= text_field :full_add, :zipcode%> </td>
        </tr>
        <tr>
          <td> Email <%= text_field :full_add, :email%> </td>
          <td> Website <%= text_field :full_add, :website%> </td>
        </tr>

      </table>
      <p><%= button_tag :save,:id=>"btn_new_addr" %>
    </div>
  </div>
  <div id="locationform"></div>
  <div id="locations">
  </div>
<p><%=button_tag "Continue to next Step", :id=>"btnStep2", :remote=>"true" %></p>
<%#*end of step2%>
</div>
<div id="divstep3" style="display:none">
<div class="account">
<%= f.fields_for :detailinfos do |detail_form| %>

<div class="field">
<%= label_tag "Enter other details which you want to share with company and not have public" %><br/>
  <%= detail_form.text_area :description,:value => "my default value" %>
</div>  
<% end  %>
</div>
<h4>File Upload</h4>

  <%= f.fields_for :assets do |asset_fields| %>
          <% if asset_fields.object.new_record? %>
                  <p><%= asset_fields.file_field :image %></p>
          <% end %>
  <% end %>

  <h4>Show Old Images</h4>

  <%= f.fields_for :assets do |asset_fields| %>

          <% unless asset_fields.object.new_record? %>
                  <%= link_to image_tag(asset_fields.object.image.url(:thumb)), 
                                                                  asset_fields.object.image.url(:original) %>

          <% end %>
  <% end %>

<%= f.hidden_field :user_id  %>

<%= f.fields_for :locations do|location_form|  %>
  <%= location_form.hidden_field :name %>
  <%= location_form.hidden_field :address %>
  <%= location_form.hidden_field :tel %>
  <%= location_form.hidden_field :city %>
  <%= location_form.hidden_field :category %>
  <%= location_form.hidden_field :zipcode %>
  <%= location_form.hidden_field :email %>
  <%= location_form.hidden_field :website %>
  
<% end %>
 
  <div class="actions">
    <%= f.submit %>
  </div>
</div> 
<% end %>
  
 