<body id="create">
    <div class="main">
        <div class="pageHeader">
            <h2 class="title">Create a new Vox</h2>
        </div><!-- .banner -->
        <div class="content">
			<%= form_for @post,:html =>{:multipart => true, :class => "form"} do |f| %>
            <%=f.hidden_field :status, :value=>"Open" %>
			<%= f.hidden_field :user_id  %>
                <div class="stageOne">
                    <ul class="inputs">
                        <li class="item">
					        <%= f.label :question,"Title" %>
					        <%= f.text_field :question,:class=>"inp_text", :placeholder=>"Create a catchy title." %>
                        </li>
                        <li class="item">
					        <%= f.label :description %>
					        <%= f.text_area :description,:class=>"inp_area", :placeholder=>"Please be as detailed as possible about your situation, be sure to leave out any personal information in this section since your experience will be visible to everyone." %>
                        </li>
                    </ul>
                    <fieldset>
                        <legend>Scenario *</legend>
                        <ul class="checkboxes clear">
				              <% Scenarios.all.each do |scenario| -%>
                              <li class="check">
							  <%= check_box_tag 'post[scenario][]', scenario.id, @post.scenario.include?(scenario.id.to_s) -%>
				              <%= label_tag :scenario, scenario.name -%></span>
				            <% end %>
                            </li>
                         </ul>
                    </fieldset>
                    <fieldset>
                        <legend>What are you looking for? *</legend>
                        <ul class="checkboxes clear">
				            <% Compensation.all.each do |compensation| -%>
				             <li class="check"><%= check_box_tag 'post[compensation][]', compensation.name, @post.compensation.include?(compensation.name.to_s) -%>
				             <%= label_tag :compensation, compensation.name -%></span>
				             <% end %>
                            </li>
                        </ul>
                    </fieldset>
                    <!-- <button class="buttonBlue">next step</button> -->
                    <img src="/assets/img/progress_1.png" alt="step 1" class"stages"  /> 
                </ul>
                </div><!-- .stageOne -->

                <div class="stageTwo">
                    <p class="txt"><strong>In order to inform the right personnel, please make sure the contact info is correct.</strong></p>
					 <%= f.fields_for :location do|location_form|  %>
                    <ul class="inputs">
                        <li class="item">
                            <label for="">Name</label>
                            <%= location_form.text_field :name, :placeholder=>'Company Name'%>
                        </li>
                        <li class="item">
                            <label for="">City</label>
							<%= location_form.text_field  :city, :placeholder=>'Company City'%>
                        </li>
                        <li class="item">
                            <label for="">Email</label>
                            <%= location_form.text_field  :email, :placeholder=>'Company Email'%> 
                        </li>
                        <li class="item">
                            <label for="">Website</label>
                            <%= location_form.text_field :website, :placeholder=>'Company Email'%> 
                        </li>
                        <li class="item">
                            <label for="select">Category</label>
                            <div class="select-wrap">
								<%= location_form.select :category, options_from_collection_for_select(Category.all, "name", "name") ,{},{:class=>"select"}%> 
                            </div>
                        </li>
                    </ul>
					<% end %>
                    <!-- <button class="buttonBlue left">previous step</button>
                    <button class="buttonBlue right">next step</button> -->
                    <img class"stages" src="/assets/img/progress_2.png" alt="step 2" /> 
                </div><!-- .stageTwo -->

                <div class="stageThree">
                    <p class="txt">To help the UmVox team resolve your vox, please enter any account or reference number(s) here, if applicable. If you want us to call on your behalf, please fill this section out as thoroughly as possible.</p>

                    <p class="txt">Note: Any information you enter in this area is secure and will only be shared with the Umvox team.</p>
					<%= f.fields_for :detailinfo do |detail_form| %>
							<ul class="inputs">
                        		<li class="item">
                        			<%= detail_form.text_area :description  %>
								</li>
							</ul>
							<p class="txt">You may upload as <strong>3 images</strong> needed as long as the total size of all images is less than 5MB.</p>
							<p class="txt">File type: <strong>.jpg, .jpeg, .gif, .png</strong></p>
							<%= f.fields_for :assets do |asset_fields| %>
				        		<% if asset_fields.object.new_record? %>
				                    <p><%= asset_fields.file_field :image %></p>
								<% end %>
							<% end %>
					<% end %>
                    <p class="txt">By clicking Create Vox, you agree to our <a href="termsandconditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a></p>

                    <!-- <button class="buttonBlue left">previous step</button>
                    <input type="submit" value="create Vox" class="buttonBlue right"> -->
                    <img class"stages" src="/assets/img/progress_3.png" alt="final step" />
					<%= f.submit "Create Vox",:class=>"buttonBlue" %>
                </div><!-- .stageThree -->
				<% end %>
        </div><!-- .content -->
    </div><!-- .main -->
</body>

  
 