
<div>
  <p>Browse Vox</p>
  <%= form_tag("/posts/browse", :method=>:get) do %>
      <p>
        <%= hidden_field_tag :type,"location" %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
      
     <%  if @returnsearch == true %> 
      <% unless  @locationGroupByName.nil?%>
      <%= render "renderbrowsepostbysearch", :locationGroupByName=>@locationGroupByName %>            
      <% else %>
        <p> No Results Found</p>
      <% end %>
   <% end %>     
  <%  if @returnsearch != true %>       
     <p><b>Can't find , check out the directory below.</b></p>       
     <table>     
     <% Category.all.each do |category| -%>
       <tr>
         <td><%= link_to category.name,"/posts/browse?type=category&search="+category.name %>
           <p><%=   category.description %></p></td>
       </tr>
     <% end %>
     </table>  
   <% end %>  
</div>