    <div class="main">
        <div class="pageHeader">
            <h2 class="title">view Vox</h2>
        </div><!-- .banner -->
        <div class="content">
            <div class="voxTable">
                <div class="tableContent">
                    <div class="tableTitles">
                        <div class="titles">
                            <div class="block status">status</div>
                            <div class="block date">date</div>
                            <div class="block category">category</div>
                            <div class="block company">company</div>
                            <div class="block issue">issue</div>
                        </div>
                    </div>
                    <div class="table">
                        <% @posts.each do |post| %>
                        <div class="row">
                             <div class="block status">
                                <% if post.status == 'Open'%>
                                    <span class="label label-open">Open</span>
                                <% else %>
                                    <span class="label label-resolved">Resolved</span>
                                <% end %>
                             </div>
                             <div class="block date"><%= post.created_at.to_date%></div>
                             <div class="block category"><%= post.location.category %></div>
                             <div class="block company"><%= post.location.name %></div>
                             <div class="block issue"><%= post.question%></div>
                             <div class="block showButton">
                                <a class="showMore" href="" title="show more">show more</a>
                             </div>
                             <div class="expandedContent">
                                <div class="voxText">
                                    <h4><%= post.question %></h4>

                                    <p><%= post.description %></p>

                                </div>
                                <div class="voxInfo">
                                    <dl>
                                        <dt>Type:</dt>
                                        <dd>Complaint</dd>
                                        <dt>Status:</dt>
                                        <dd class="break"><%= post.status %></dd>

                                        <dt>Category:</dt>
                                        <dd><%= post.location.category %></dd>
                                        <dt>Company:</dt>
                                        <dd class="break"><%= post.location.name %></dd>

                                        <dt>Looking for:</dt>
                                        <dd>
                                        <% str = '' %>
                                        <% Compensation.all.each do |compensation| -%>
                                        <% if post.compensation.include?(compensation.name.to_s) -%>
                                            <% str+= compensation.name.to_s+ " & " %>
                                        <% end %>
                                        <% end %>
                                        <%= label_tag :compensation, str[0..-3] -%></dd>
                                        <dt>Scenario:</dt>
                                        <dd class="break">
                                        <% str = '' %>
                                        <% Scenarios.all.each do |scenario| -%>
                                        <% if post.scenario.include?(scenario.id.to_s) -%>
                                            <% str+= scenario.name.to_s+ " & " %>
                                        <% end %>
                                        <% end %>
                                        <%= label_tag :scenario, str[0..-3] -%></dd>
                                        <dt>Posted By:</dt>
                                        <dd><%= User.find(post.user_id).username %></dd>
                                        <dt>Date:</dt>
                                        <dd class="break"><%= post.created_at.to_date%></dd>
                                     </dl>                                    
                                </div>
                             </div>
                            <% end %>
                        <!-- <div class="row">
                             <div class="block status">
                                <span class="label label-resolved">resolved</span>
                             </div>
                             <div class="block date">02/04/2014</div>
                             <div class="block category">Dining</div>
                             <div class="block company">Muddy Waters Restaurant</div>
                             <div class="block issue">Restaurant menu stated they had lobsters ranging for...</div>
                             <div class="block showButton">
                                <a class="showMore" href="" title="show more">show more</a>
                             </div>
                             <div class="expandedContent">
                                <div class="voxText">
                                    <h4>Muddy Waters in Deerfield Beach, FL OVERCHARGES and SCAMS Customers</h4>

                                    <p>Restaurant menu stated they had lobsters ranging for 2-8lbs. I ordered a 2lb lobster and when I received the bill I was charged for a 2-3/4lb lobster. I called over the server who said "that was the smallest we had tonight". I further inquired as to why I was not notified about this prior to ordering and she said "if you aren't happy I can get the manager." The manager came over and I explained the situation to which she gave the same initial reply as the server. She also told me that if all they had were 5lb lobsters they could have served me that and charged for me that. When I began to tell her how ridiculous it was to charge a client who orders a 2lb lobster (which is a menu item) for a 5lb lobster she stated "market price is $60/lb and we only charge $22/lb so you got a deal" and then stormed off. First off, the lobster market is at an all time low. The restaurant can charge any amount they want, but "market price" is definitely not $60/lb. This place is a total scam.</p>

                                </div>
                                <div class="voxInfo">
                                    <dl>
                                        <dt>Type:</dt>
                                        <dd>Complaint</dd>
                                        <dt>Status:</dt>
                                        <dd class="break">Resolved</dd>

                                        <dt>Category:</dt>
                                        <dd>Travel</dd>
                                        <dt>Company:</dt>
                                        <dd class="break">Über technologies</dd>

                                        <dt>Looking for:</dt>
                                        <dd>Refund</dd>
                                        <dt>Scenario:</dt>
                                        <dd class="break">Poor Service</dd>

                                        <dt>Posted By:</dt>
                                        <dd>Tanyakim70</dd>
                                        <dt>Date:</dt>
                                        <dd class="break">2014-03-26 20:47:53 UTC</dd>

                                        <dt>Comments:</dt>
                                        <dd>1</dd>
                                        <dt>Backers:</dt>
                                        <dd class="break">2</dd>
                                    </dl>
                                    <a class="buttonBlue left" href="#" title="back this vox">back this vox</a>
                                </div>
                             </div>
                        </div>                        
                             </div> -->
                                          
                             </div>
                        <!-- </li> -->
                    </div><!-- change ul -->
                </div><!-- .tableContent -->

            </div><!-- .voxTable -->

        </div><!-- .content -->
    </div><!-- .main -->  