    <div class="main">
        <div class="pageHeader">
            <h2 class="title">List All Voxes</h2>
        </div><!-- .banner -->
        <div class="content">
            <div class="voxTable">
                <div class="tableContent">
                    <div class="tableTitles">
                        <div class="titles">
                            <div class="block status">Status</div>
                            <div class="block date">Date Posted</div>
                            <div class="block category">Category</div>
                            <div class="block company">Company</div>
                            <div class="block issue">Vox</div>
                        </div>
                    </div>
                    <div class="table">
                    <% @posts.each do |post| %>
                        <div class="row">
                             <div class="block status">
                                <% if post.status == 'Open'%>
                                    <span class="label label-open">Open</span>
                                <% else %>
                                    <span class="label label-resolved">Resolved</span>
                                <% end %>
                             </div>
                             <div class="block date"><%= post.created_at.to_date%></div>
                             <div class="block category"><%= post.location.category %></div>
                             <div class="block company"><%= post.location.name %></div>
                             <div class="block issue"><%= post.question%></div>
                             <div class="block showButton">
                                <a class="showMore" href="" title="show more">show more</a>
                             </div>
                             <div class="expandedContent">
                                <div class="voxText">
                                    <h4><%= post.question %></h4>
                                    <p><%= post.description %></p>
                                </div>
                                <div class="voxInfo">
                                    <dl>
                                        <dt>Type:</dt>
                                        <dd>Complaint</dd>
                                        <dt>Status:</dt>
                                        <dd class="break"><%= post.status %></dd>
                                        <dt>Category:</dt>
                                        <dd><%= post.location.category %></dd>
                                        <dt>Company:</dt>
                                        <dd class="break"><%= post.location.name %></dd>
                                        <dt>Looking for:</dt>
                                        <dd>
                                        <% str = '' %>
                                        <% Compensation.all.each do |compensation| -%>
                                            <% if post.compensation.include?(compensation.name.to_s) -%>
                                                <% str+= compensation.name.to_s+ " & " %>
                                            <% end %>
                                        <% end %>
                                        <%= label_tag :compensation, str[0..-3] -%></dd>
                                        <dt>Scenario:</dt>
                                        <dd class="break">
                                        <% str = '' %>
                                        <% Scenarios.all.each do |scenario| -%>
                                            <% if post.scenario.include?(scenario.id.to_s) -%>
                                                <% str+= scenario.name.to_s+ " & " %>
                                            <% end %>
                                        <% end %>
                                        <%= label_tag :scenario, str[0..-3] -%></dd>
                                        <dt>Posted By:</dt>
                                        <dd><%= User.find(post.user_id).username %></dd>
                                        <dt>Date:</dt>
                                        <dd class="break"><%= post.created_at.to_date%></dd>
                                     </dl>                                    
                                </div>
                             </div>
                             </div> <!-- div#row -->
                            <% end %>
                             
                    </div><!-- change ul -->
                </div><!-- .tableContent -->
            </div><!-- .voxTable -->
        </div><!-- .content -->
    </div><!-- .main -->  