<div class="top_search_pannel1 bot_mag_main_20">
<div class="sign_up_fill about_section">
<div class="form_header">
<h1 class="flt">Ready to resolve vox !!</h1>
</div>

<%= form_for @post,:html =>{:multipart => true} do |f| %>
  <div id="divstep1" class="create_vox_form cvf_step1">     
	  <div class="clr"></div>
	  		<label><b>How was it resolved ?</b></label>
	   <div class="field">
		<%= f.hidden_field :status ,:value=>"Resolved"%>		

        <%= f.text_area :resolve_vox,:class=>"inp_area", :placeholder=>"Please add a brief description about your experience with the company and umvox." %>
         
	  	
        <div class="left_buttons">          
          <%= button_tag "Continue", :class=>"left_step_button"%>
        </div>
	    
      </div>
    <div class="buttons">
  	  <%=f.submit "Resolve Vox", :id=>"btnStep2", :class=>"step_button", :remote=>"true" %>
  	</div>
  	
		  
</div>
 <% end %>
 </div>
 