<div class="main">
         <div class="pageHeader"></div><!-- .pageheader -->
			<div class="main">
	        	<div class="content">
	            	<div class="column left">
	                	<h3>Search Result</h3>
						<ul class="voxes">
							<% @voxes.each do |post| %>
							<li>
								 <div class="vox open">
									 <p class="type">Complaint</p>
									 <p class="date"><%= post.created_at %></p>	
									 <p class="text">
										 <%= post.description.split(' ')[0,10].inject{|sum,word| sum + ' ' + word}  %>
										 <a href="" class="read_more"> 
									   	  <%= link_to  "Read More","/posts/#{post.parameterize}",:class=>"read_more" %> 
									   </a>
								   </p> 
								   <dl>
	                             	  <dt>Category:</dt>
									  <dd><%= post.location.category %></dd>
									 
								  </dl>
								  <dl>
									  <dt>Company:</dt>
									  <dd><%= post.location.name %></dd>
									  <dt>Posted By:</dt>
									  <dd><%= User.find(post.user_id).username %></dd>
								  </dl>
								  <%= link_to "View","/posts/#{post.parameterize}",:class=>"buttonVox" %> 
							  	</div>
							  </li>
							  <% end %>
						  </ul>
						  <!-- <a class="buttonView" href="" title="view more open Vox">view more</a> -->
					  </div>
				</div><!-- .content -->
			</div><!-- .main -->
		</div><!-- .main -->