
﻿<div id="main">
<div class="content">
	<div class="wrapper">
		<div id="container" class="help">
			        <div class="help_section">
					     <h1 class="help_title">We'd like to help you get your voice heard.</h1>
						 <h1 class="help_title normal">This vox is a...</h1>
						 <div class="submit-help">
						      
							  
							    <%= form_tag('/posts/search',:method=>:get) do%>
                                                            
                                                            <div class="box_input">
                                                                        <%= hidden_field_tag :type,"post" %>
                                                            		
                                                                        <%= text_field_tag :search, params[:search] ,:class => "box_text", :placeholder => "Tell us what happened." %>
                                                                                                        </div>
                                                                          <span class="sub-button">                                 
									<%= submit_tag "Search a Vox", :class=> "create" %>
                                                                          </span>
                                                                      <span class="note">You may find an existing vox regarding your case, become a backer!</span>
								  <% end %>
							  
						 </div>
					</div>
		  </div>
		  <div class="left_section_part flt">
		       <div class="main">
                                                        
                                                            <h1 class="title">Latest Vox</h1>
                                                            <div class="main">
                                                                                          
                                                                                          <div class="body">
                                                                                                  <div class="main_box">
                                                              
                                                         <% if  !@posts.nil? %>
                                                           <% @posts.each do |post| %>
                                                            <%= render "/layouts/displaydashboardpost", :post=>post %> 
                                                          <% end %>
                                                        <% else %>
                                                          <p> No Results Found</p>
                                                        <% end %>
                                                              </div>
			   </div>  
		  </div>
		  
		  <div class="clr"></div>

</div>

</div>
<div class="clear_footer"></div>
</div>

 
     