<p id="notice"><%= notice %></p>

<%= render "displaypost", :post=>@post %>         

<%#*<span id="comments_count"><%= pluralize(@post.comments.count, "Comment") %>
<%#*<div id="comment-notice"></div>%>
<%#*<br/>%>
<div id="main">
<div class="content">
	<div class="wrapper">
		  <div class="left_section_part flt">
		       <div class="main">
                         <%#*<div class="body">%>
                           <%#*<div class="main_box">%>
                                <div class="comment_entry">
                                <div class="padder">
                               <div class="btm_line">
                                 <% unless session[:user] == nil %>

    <%= form_for [@post,Comment.new] , :remote=> true do |f| %>
         <div class="field">                           
          <%= f.text_area :comment, :cols=>'70', :rows=>"5" %>
         </div>  
          <p><%= f.check_box  :is_backer %>
             <%= label :is_backer, "Backer" %>
              <%= f.submit 'Add Comment' %>
            </p>
    <% end %>
 <% else %>         
  
    <%= form_for [@post,Comment.new] , :remote=> true do |f| %>
    <table>
        <tr><td>
             Name:
          </td><td>
             <%= f.text_field :name %>
          </td>
        </tr>
        <tr><td>
            Email:
          </td><td>
             <%= f.text_field :email %>
          </td>
        </tr>
        <tr><td>
            Comment:
          </td>
          <td>
              <%= f.text_field :comment %>
          </td>
        </tr>
        <tr>
          <td>
                 <%= label :is_backer, "Backer" %>
          </td>
          <td><%= f.check_box  :is_backer %>
          </td>
        </tr>
        <tr><td>
                  <%= f.submit 'Add Comment' %>
          </td>
       </tr>         
      </table> 
     <% end %>  
            <h4>Or</h4>       
           <%= link_to 'Sign In' '/users/sign_in' %> 
<% end %> 
            <br/></br>
<div id="comments">
  <%= render :partial => @post.comments, :locals => { :list => true } %>
</div>            
                                </div>
                               </div>
                           <%#*</div>%>
                         <%#*</div>%>
                      </div>  
                    </div>
                  </div>
		  <div class="sidebar flr">
			  <div class="brown_box">
				<div class="head">
				  <h2>Vox Status</h2>
				</div>
				<div class="body">
				  <div class="sb_cat_links">
                                    <% if @post.updatestatus != nil %>
                                    <p> <%= @post.updatestatus.status %> </p>
                                    <% else %>
					NA
                                    <% end %>    
				  </div>
				</div>
			  </div>
			  <div class="brown_box">
				<div class="head">
				  <h2>Backers <% if @backer >0 %> (<%=@backer %>)  <%  end %> </h2>
				</div>
				<div class="body">
  					<div class="sb_quick_stats">
                                          <% if @backername.size > 0 %>
                                            <% @backername.each do |backer| %>
                                          <div class="row">
                                              <%= backer %>
                                          </div>
                                            <% end %>
                                          <% else %>
                                          <div class="row">
                                              Be the first one to back.
                                          </div>
                                          <%end %>
					</div>
				</div>
			  </div>
		  </div>
		  <div class="clr"></div>

</div>

</div>
<div class="clear_footer"></div>
</div>
</div>
</div>




