    <div class="main">
        <div class="pageHeader"><h2 class="branding">My vox is for <%= @post.location.name.upcase %></h2></div>
        <div class="content">
            <div class="column wide left">
                <div class="complaint">
                    <h2><%= @post.question%></h2>
                    <p><%= @post.description %></p>
                </div>
				<% unless @post.resolve_vox.nil?%>
					<div class="complaintComment">
				
                    <h3>Yay , Umvox , Helped us resolve.</h3>
                    <p><%= @post.resolve_vox%></p>
					</div>
				<% end %>		
            </div>
            <div class="column thin right">
                <div class="complaintInfo">
                    <dl>
                        <dt>Type:</dt>
                        <dd>Complaint</dd>
                        <dt>Status:</dt>
                        <dd class="break"><%= @post.status %></dd>

                        <dt>Category:</dt>
                        <dd><%= @post.location.category%></dd>
                        <dt>Company:</dt>
                        <dd class="break"><%= @post.location.name %></dd>

                        <dt>Looking for:</dt>
                        <dd>
								<% str = '' %>
								<% Compensation.all.each do |compensation| -%>
									<% if @post.compensation.include?(compensation.name.to_s) -%>
                                    	<% str+= compensation.name.to_s+ " & " %>
                                    <% end %>
                                <% end %>
                                <%= label_tag :compensation, str[0..-3] -%>
						</dd>
                        <dt>Scenario:</dt>
                        <dd class="break">
						<% str = '' %>
						<% Scenarios.all.each do |scenario| -%>
							<% if @post.scenario.include?(scenario.id.to_s) -%>
                            	<% str+= scenario.name.to_s+ " & " %>
                            <% end %>
                        <% end %>
                        <%= label_tag :scenario, str[0..-3] -%>
						</dd>

                        <dt>Posted By:</dt>
                        <dd><%= User.find(@post.user_id).username %> </dd>
                        <dt>Date:</dt>
                        <dd class="break"><%= @post.created_at.to_date%></dd>
                    </dl>
                    <!-- <a class="buttonBlue left" href="#" title="back this vox">back this vox</a> -->

                </div>
            </div>
        </div><!-- .content -->
    </div><!-- .main -->
	



