<%= form_tag ({:controller=> "email", :action=> "saveconfig"}) do %>
<%= @postId %>
<%= hidden_field_tag 'postId',@postId %>
 Set the number of email you wish to send. You have total <%= @count %> emails left.
 <p><%= text_field_tag 'counter','3' %></p>

 <p>Do you want us to contact via phone?</p>
 
 <%= check_box_tag "call" %>
 
 <%= submit_tag 'Save'  %>
 
<% end %>