<p>Send email on <%= Time.now.strftime("%m/%d/%Y") %>
 
  <% unless @successEmailList.nil? %>
    <% @successEmailList.each do |email| %>
      <p>Sucessfully Sent email to <%= email %>  </p>
    <% end %>
  <% end %>
  <table border="1">
  <tr>
    <th>Question</th>
    <th>Counter</th>
    <th>Lastsent</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @emailStatList.each do |email_stat| %>
  <% post = Post.find(email_stat.postId) %>
  <% if post.posttype == 'Question' %>
  <tr>
    <td><%= post.question %></td>
    <td><%= email_stat.counter %></td>
    <td><%= email_stat.lastsent %></td>
    <td><%= post.locations[0].email %> </td>
  </tr>
  <%  end %>
<% end %>
</table>

<p>Email will be sent for counter > 0 and if last email sent was 2 days old</p>
<%= form_tag ({:controller=> "email", :action=> "sendmail"}) do %>
   <%= submit_tag  'Send mail' %>
 <% end %> 