<p>Send email on <%= Time.now.strftime("%m/%d/%Y") %>
 
  <% unless @successEmailList.nil? %>
    <% @successEmailList.each do |email| %>
      <p>Sucessfully Sent email to <%= email %>  </p>
    <% end %>
  <% end %>
  

<%= form_tag ({:controller=> "email", :action=> "sendmail"}) do |f|%>
<table border="1" cellspacing="4" cellpadding="5">
  <tr>
    <th>PostType</th>
    <th>Company</th>
	 <th>Address</th>
	 <th>Zipcode</th>
    <th>Question</th>
    <%#*<th>Counter</th>%>
    <%#*<th>Lastsent</th>%>
    <th>Email</th>
    <th>Send?</th>
  </tr>

 <% @postlist.each do |post| %>
  <% if post.location !=nil %>
  <% email =post.location.email %>
  <tr>
    <td><%= post.posttype %> </td>
    <td><%=  post.location.name %></td>
	 <td><%=  post.location.address %></td>
	 <td><%=  post.location.zipcode %></td>
    <td><%= post.question %></td>  
    <td><%=  text_field_tag 'email',email,:name=>"arr[email_stat_#{post.id}][email]"%></td>
      <td><%= check_box_tag "arr[email_stat_#{post.id}][isSend]",1,:name=>"arr[email_stat_#{post.id}][isSend]" %></td>
      <%= hidden_field_tag "arr[email_stat_#{post.id}][postid]", post.id %>
      <%= hidden_field_tag "arr[email_stat_#{post.id}][oldemail]", email %>
  </tr>
  <% end %>
<% end %>
</table>
  <%= submit_tag  'Send mail' %>
 <% end %> 

