  <table  id="thetable">
    <tbody>
      <%  if @locations.is_a? Array %>
        <tr><td><%= @locations.size %></td></tr>
          <%  @locations.each do |location| %>
          <tr>
            <td><%=location.name%></td>
            <td><%= location.address %> </td>
            <td><%= location.zipcode %></td>
            <td><%= link_to "Select" ,"#",:id=>"location_select",:name => location.name,:address=>location.address,:phone=>location.tel,:zipcode=>location.zipcode,:category=>location.category,:website=>location.website,:city=>location.city %></td>
          </tr>
        <% end %>
      <% else %>
          <tr><td>No results found</td></tr>
    <% end %>
    </tbody>
  </table>