<div id="locations" class="locations" style="overflow: auto">
  <table  id="thetable">
    <tbody>
      <%  if @locations.is_a? Array %>
          <%  @locations.each do |location| %>
          <tr>
            <td><%=location.name%></td>
            <td><%= location.address %> </td>
            <td><%= location.tel %>
            <td><%= location.postcode %></td>
            <td><%= link_to "Select" ,"#",:id=>"location_select",:data => location.name+"<br/>"+location.address+"<br\>"+location.tel+"<br>"+location.postcode %></td>
          </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>