<!DOCTYPE html>
<html>
<head>
  <title>Umvox</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%=  javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"%>
  <%= csrf_meta_tags %>
<script type='text/javascript' src="http://jquery.bassistance.de/validate/lib/jquery-1.7.2.js"></script>
<script type='text/javascript' src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
<%#=  javascript_include_tag "jquery.form.validator"%>  
<%= yield :head  %>    
</head>
<body>
   <%= render "shared/header" %>
<%= yield %>
<%= render "shared/footer" %>
</body>
</html>