<!DOCTYPE html>
<html>
<head>
  <title>Umvox</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
<div id="header">
	<div class="wrapper relative">
		<h1 class="logo"><a href="#"><img title="UmVox" alt="" src="/assets/logo.png"></a></h1>
		<div class="menu_2">
		  <a class="signin" href="/users/sign_in">Sign In</a>
		</div>
	</div>
</div>
<div class="content">
	<div class="wrapper">
		<div id="container" class="help">
			        <div class="help_section">
					     <h1 class="help_title">We'd like to help you get your voice heard.</h1>
						 <h1 class="help_title normal">This vox is a...</h1>
						 <div class="radio_btn">
                              <input type="radio" name="" value="" />
                              Complaint
						 </div>
						 <div class="radio_btn">
                              <input type="radio" name="" value="" />
                              Compliment
						 </div>
						 <div class="radio_btn">
                              <input type="radio" name="" value="" />
                              Question
						 </div>
						 <div class="box_input">
						      <input class="box_text" type="textbox" name="" value="" placeholder="Tell us what happened.">
						 </div>
						 <div class="clr"></div>
						 <div class="submit-help">
						      <span class="note">You may find an existing vox regarding your case, become a backer!</span>
							  <span class="sub-button">
							    <%= form_tag('/posts/new',:method=>:get) do%>
									<%= submit_tag "Create a Vox", :class=> "create" %>
								  <% end %>
							  
							  </span>
						 </div>
					</div>
		  </div>
		  <div class="left_section_part flt">
		       <div class="main">
			        <h1 class="title">RECENTLY RESOLVED VOX</h1>
					<div class="body">
					     <div class="main_box">
							<div class="vox_entry complaint">
								<span class="cat"></span>
								<div class="padder">
									<h2><span class="pre">Sports & Recreation</span> > ACTSPORTSITE.COM</h2>
									<p>ACTSPORTSITE.COM charged my credit card $6.70. Bank cannot stop the transaction, but I was able to file a complaint for unauthorized charges.</p>
									<div class="btm_line">
										<div class="comment">
											<span class="backers">5 backers  |  10 comments</span>
											<span class="date">June 26, 2012</span>
										</div>
										<a class="read_more flr" href="#">» Read More</a>
									</div>
								</div>
								<div class="grey">
									<p class="updated"><strong>Update:</strong> July 21, 2012</p>
									<p>Case resolved in compensation of $400.00.</p>
								</div>
							</div>
							<div class="vox_entry question">
								<span class="cat"></span>
								<div class="padder">
									<h2><span class="pre">Sports & Recreation</span> > ACTSPORTSITE.COM</h2>
									<p>ACTSPORTSITE.COM charged my credit card $6.70. Bank cannot stop the transaction, but I was able to file a complaint for unauthorized charges.</p>
									<div class="btm_line">
										<div class="comment">
											<span class="backers">5 backers  |  10 comments</span>
											<span class="date">June 26, 2012</span>
										</div>
										<a class="read_more flr" href="#">» Read More</a>
									</div>
								</div>
								<div class="grey">
									<p class="updated"><strong>Update:</strong> July 21, 2012</p>
									<p>Case resolved in compensation of $400.00.</p>
								</div>
							</div>
							<div class="vox_entry compliment">
								<span class="cat"></span>
								<div class="padder">
									<h2><span class="pre">Sports & Recreation</span> > ACTSPORTSITE.COM</h2>
									<p>ACTSPORTSITE.COM charged my credit card $6.70. Bank cannot stop the transaction, but I was able to file a complaint for unauthorized charges.</p>
									<div class="btm_line">
										<div class="comment">
											<span class="backers">5 backers  |  10 comments</span>
											<span class="date">June 26, 2012</span>
										</div>
										<a class="read_more flr" href="#">» Read More</a>
									</div>
								</div>
								<div class="grey">
									<p class="updated"><strong>Update:</strong> July 21, 2012</p>
									<p>Case resolved in compensation of $400.00.</p>
								</div>
							</div>
							  
						</div>
					</div>
			   </div>  
			   <div class="main">
			        <h1 class="title">Latest Vox</h1>
					<div class="body">
					     <div class="main_box">
							<div class="vox_entry complaint">
								<span class="cat"></span>
								<div class="padder">
									<h2><span class="pre">Sports & Recreation</span> > ACTSPORTSITE.COM</h2>
									<p>ACTSPORTSITE.COM charged my credit card $6.70. Bank cannot stop the transaction, but I was able to file a complaint for unauthorized charges.</p>
									<div class="btm_line">
										<div class="comment">
											<span class="backers">5 backers  |  10 comments</span>
											<span class="date">June 26, 2012</span>
										</div>
										<a class="read_more flr" href="#">» Read More</a>
									</div>
								</div>
								<div class="grey">
									<p class="updated"><strong>Update:</strong> July 21, 2012</p>
									<p>Case resolved in compensation of $400.00.</p>
								</div>
							</div>
							<div class="vox_entry question">
								<span class="cat"></span>
								<div class="padder">
									<h2><span class="pre">Sports & Recreation</span> > ACTSPORTSITE.COM</h2>
									<p>ACTSPORTSITE.COM charged my credit card $6.70. Bank cannot stop the transaction, but I was able to file a complaint for unauthorized charges.</p>
									<div class="btm_line">
										<div class="comment">
											<span class="backers">5 backers  |  10 comments</span>
											<span class="date">June 26, 2012</span>
										</div>
										<a class="read_more flr" href="#">» Read More</a>
									</div>
								</div>
								<div class="grey">
									<p class="updated"><strong>Update:</strong> July 21, 2012</p>
									<p>Case resolved in compensation of $400.00.</p>
								</div>
							</div>
							<div class="vox_entry compliment">
								<span class="cat"></span>
								<div class="padder">
									<h2><span class="pre">Sports & Recreation</span> > ACTSPORTSITE.COM</h2>
									<p>ACTSPORTSITE.COM charged my credit card $6.70. Bank cannot stop the transaction, but I was able to file a complaint for unauthorized charges.</p>
									<div class="btm_line">
										<div class="comment">
											<span class="backers">5 backers  |  10 comments</span>
											<span class="date">June 26, 2012</span>
										</div>
										<a class="read_more flr" href="#">» Read More</a>
									</div>
								</div>
								<div class="grey">
									<p class="updated"><strong>Update:</strong> July 21, 2012</p>
									<p>Case resolved in compensation of $400.00.</p>
								</div>
							</div>
							  
						</div>
					</div>
			   </div>  
		  </div>
		  <div class="sidebar flr">
			  <div class="brown_box">
				<div class="head">
				  <h2>STEP-BY-STEP</h2>
				</div>
				<div class="body">
				  <a class="upgrade" href="#">Get Started</a>
				</div>
			  </div>
			  <div class="brown_box">
				<div class="head">
				  <h2>BROWSE VOX CATEGORY</h2>
				</div>
				<div class="body">
				  <div class="sb_cat_links">
					<ul>
						<li><a href="#">Advertisement & Cons</a></li>
						<li><a href="#">Automotive</a></li>
						<li><a href="#">Clothing</a></li>
						<li><a href="#">Community</a></li>
						<li><a href="#">Computer & Internet</a></li>
						<li><a href="#">Dining</a></li>
						<li><a href="#">Education & Instruction</a></li>
						<li><a href="#">Electronics</a></li>
						<li><a href="#">Entertainment</a></li>
						<li><a href="#">Finance</a></li>
						<li><a href="#">Health & Fitness</a></li>
						<li><a href="#">Home & Garden</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Sports & Recreation</a></li>
						<li><a href="#">Shopping</a></li>
						<li><a href="#">Travel</a></li>
					</ul>
				  </div>
				</div>
			  </div>
			  <div class="brown_box">
				<div class="head">
				  <h2>QUICK STATS</h2>
				</div>
				<div class="body">
					<div class="sb_quick_stats">
					  <div class="row">
						<span class="left">683,191</span>
						<span class="right">Complaints Filed</span>
					  </div>
					  <div class="row">
						<span class="left">29,293</span>
						<span class="right">Complaints Resolved</span>
					  </div>
					  <div class="row">
						<span class="left">31,312</span>
						<span class="right">Compliments Given</span>
					  </div>
					  <div class="row">
						<span class="left">2,231</span>
						<span class="right">Questions Asked</span>
					  </div>
					  <div class="row">
						<span class="left">1,982</span>
						<span class="right">Questions Answered</span>
					  </div>
					</div>
				</div>
			  </div>
		  </div>
		  <div class="clr"></div>

</div>

</div>
<div class="clear_footer"></div>
</div>
<div id="footer">
<div class="wrapper">
<div class="footer_logo_tagline">
<div class="logo"><a href="#"><img title="UmVox" alt="" src="/assets/logo_footer.png"></a></div>
<div class="tagline"><img title="UmVox" alt="" src="/assets/tagline_footer.png"></div>
</div>
<div class="footer_links">
	<div class="column">
		<h3>&copy; 2013 UmVox, Inc. </h3>
		
	</div>
	<div class="column">
		<h3>What is UmVox?</h3>
		<ul>
			<li><a href="#">How It Works</a></li>
			<li><a href="#">File a Vox</a></li>
			<li><a href="#">Browse Vox</a></li>
			<li><a href="#">Help &amp; FAQ</a></li>
		</ul>
	</div>
	<div class="column">
		<h3>Account</h3>
		<ul>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Go Premium</a></li>
		</ul>
	</div>
	<div class="column">
		<h3>About Us</h3>
		<ul>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Press</a></li>
			<li><a href="#">Jobs</a></li>
			<li><a href="#">Terms &amp; Privacy</a></li>
		</ul>
	</div>
	<div class="column">
		<h3>Connect with UmVox</h3>
		<ul>
			<li><a href="#"><span class="icon"><img alt="" src="/assets/fb_icon.png"></span> Facebook</a></li>
			<li><a href="#"><span class="icon"><img alt="" src="/assets/tweet_icon.png"></span> Twitter</a></li>
			<li><a href="#"><span class="icon"><img alt="" src="/assets/mail_icon.png"></span> Newsletter</a></li>
		</ul>
	</div>
</div>

</div>
</div>
</body>
</html>

