<div class="vox_entry complaint">
	<span class="cat"></span>
	<div class="padder">
		<h2><span class="pre"><%=post.location.category %></span> </h2>
		<p><%= post.question %></p>
		<div class="btm_line">
			<div class="comment">
				<% backer= 0 %>
				<% if post.comments.size > 0 %>
				   <% post.comments.each do |comment| %>
						<% if comment.is_backer == true %>
						   <% backer =backer+1 %>
					   <% end %>
				   <% end %>  
				<% end %>
				
				<span class="backers"><%= backer %> backers  |  <%= post.comments.size %> comments</span>
				<span class="date"><%= post.created_at %></span>
						
			</div>
                        <div class="read_more flr">
                              <%= link_to  "Read More","/posts/#{post.id}" %> 
                        </div>
		</div>
	</div>
	<%#*<div class="grey">%>
		<%#*<p class="updated"><strong>Update:</strong> July 21, 2012</p>%>
		<%#*<p>Case resolved in compensation of $400.00.</p>%>
	<%#*</div>%>
</div>