<p><%=post.locations.first.category %> <b> 
<%#= post.locations.first.name %>  </b></p>
                    <p><%= post.question %></p>
                      <% backer= 0 %>
                    <% if post.comments.size > 0 %>
                       <% post.comments.each do |comment| %>
                            <% if comment.is_backer == true %>
                               <% backer =backer+1 %>
                           <% end %>
                       <% end %>  
                    <% end %>
                    <p><%= backer %>  backers  | <%= post.comments.size %> comments <%= post.created_at %></p>