
<div class="header_title">
    	<div class="container"><h2>Contact Us</h2></div>
    </div>

	
<div id="sign_up" class="top_search_pannel1 bot_mag_main_20">
<div class="sign_up_fill about_section">

  <%= form_tag ("support") do  %>

  <div class="field">
      <%= label_tag 'name'  %><br />
      <%= text_field_tag 'name' %>
    </div>
    <div class="field">
      <%= label_tag 'email' %><br />
      <%= text_field_tag 'email' %>
    </div>
  <div class="field">
      <%= label_tag 'subject' %><br />
      <%= text_field_tag 'subject' %>
    </div>
  <div class="field">
      <%= label_tag 'message' %><br />
      <%= text_area_tag  'message', nil, :rows => 10, :cols =>40 %>
    </div>

  <div>
    <%= submit_tag 'Send' , :class=>"continues_btn"%>
  </div>
  <% end %>
</div>
</div>  