    <h3>Welcome <%= (session[:user]).firstname%></h3>
    <p>What is the matter ? </p>
    <%= form_tag("/posts/search", :method=>:get) do %>
      <p>
         <%= hidden_field_tag :type,"post" %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
    <% if session[:user] %>
      <table border ="1">
        <tr>
          <td>
              <% if (!@totalclose.nil? and @totalclose.size >0) %>
                <p>Recently Resolved</p>  
                      <table>
                       <% @totalclose.each do |post| %>
                        <tr><td> <%= render "displaydashboardpost", :post=>post %> </td></tr>           
                      <% end %>
                      </table>  
               <% else %> 
                  <% if (!@totalopen.nil? and @totalopen.size >0) %>
                      <p>Latest Vox</p>
                      <% alreadydisplayed = true %>
                      <table border="1px solid black" border-collapse="collapse">
                         <% @totalopen.each do |post| %>
                          <tr>
                            <td> 
                               <%= render "displaydashboardpost", :post=>post %>            
                            </td>  
                          </tr>
                         <% end %>
                      </table>
                  <% end %>
              <%  end %>
          </td>
          <td>
            <% if @checkinarr.nil? %>
            <p>No Facebook check in </p>
            <% else %>
            <p><b>Review Your Facebook Checkin</b></p>
             <% i=0 %>
              <% @checkinarr.each do |loc| %>
                    <% if i== 6 %>
                       <% break %>
                    <% else %>
                       <% i=i+1 %>
                    <% end %>
                <div>
                  <p><%= link_to loc.name,"/posts/new?name=#{loc.name}&addr=#{loc.address}&zip=#{loc.zipcode}&city=#{loc.city}" %><br/>
                     <%= loc.address %>, <%= loc.city %>
                  </p>   
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
              <% if (!@totalopen.nil? and @totalopen.size >0 and alreadydisplayed == false) %>
                    <p>Latest Vox</p>
                    <table border="1px solid black" border-collapse="collapse">
                       <% @totalopen.each do |post| %>
                        <tr>
                          <td> 
                             <%= render "displaydashboardpost", :post=>post %>            
                          </td>  
                        </tr>
                       <% end %>
                    </table>
              <% end %>
          </td>
          <td>
            <table>     
              <th><td><p>Browse Vox By Category</p></td></th>
               <% Category.all.each do |category| -%>
                 <tr>
                   <td><%= link_to category.name,"/" %></td>
                 </tr>
               <% end %>
             </table>
          </td>
        </tr>   
    <% end %>