<div id="main">
<div class="content">
	<div class="wrapper">
		<div id="container" class="help">
			        <div class="help_section">
					     <h1 class="help_title">We'd like to help you get your voice heard.</h1>
						 <h1 class="help_title normal">This vox is a...</h1>
						 <%#*<div class="radio_btn">%>
                              <%#*<input type="radio" name="" value="" />%>
                              <%#*Complaint%>
						 <%#*</div>%>
						 <%#*<div class="radio_btn">%>
                              <%#*<input type="radio" name="" value="" />%>
                              <%#*Compliment%>
						 <%#*</div>%>
						 <%#*<div class="radio_btn">%>
                              <%#*<input type="radio" name="" value="" />%>
                              <%#*Question%>
						 <%#*</div>%>
						 <%#*<div class="clr"></div>%>
						 <div class="submit-help">
						      
							  
							    <%= form_tag('/posts/search',:method=>:get) do%>
                                                            
                                                            <div class="box_input">
                                                                        <%= hidden_field_tag :type,"post" %>
                                                            		
                                                                        <%= text_field_tag :search, params[:search] ,:class => "box_text", :placeholder => "Tell us what happened." %>
                                                                                                        </div>
                                                                          <span class="sub-button">                                 
									<%= submit_tag "Search a Vox", :class=> "create" %>
                                                                          </span>
                                                                      <span class="note">You may find an existing vox regarding your case, become a backer!</span>
								  <% end %>
							  
						 </div>
					</div>
		  </div>
		  <div class="left_section_part flt">
		       <div class="main">
                                                        
                                                            <h1 class="title">Latest Vox</h1>
                                                            <div class="main">
                                                                                          
                                                                                          <div class="body">
                                                                                                  <div class="main_box">
                                                              
                                                          <% if (!@totalopen.nil? and @totalopen.size >0) %>
                                                                                                          <% alreadydisplayed = true %>
                                                                                                          <% @totalopen.each do |post| %>
                                                                                                             <%= render "/layouts/displaydashboardpost", :post=>post %>
                                                                                                          <% end %>
                                                              
                                                          <%  end %>
                                                            <% if (!@totalclose.nil? and @totalclose.size >0) %>
                                                                                            <% @totalclose.each do |post| %>
                                                                                                  <%= render "/layouts/displaydashboardpost", :post=>post %> 
                                                                                            <% end %>
                                                          <% end %> 
                                                                                                                                        </div>
                                                                                          </div>
                                                              

                                                          <% if (!@totalopen.nil? and @totalopen.size >0 and alreadydisplayed == false) %>
                                                                                          <h1 class="title">Latest Voxs</h1>
                                                                                                          <% @totalopen.each do |post| %>

                                                                                                          <%= render "displaydashboardpost", :post=>post %>            
                                                                                                          <% end %>
                                                          <% end %>
                                                              </div>
			   </div>  
		  </div>
		  <div class="sidebar flr">
			  <div class="brown_box">
				<div class="head">
				  <h2>Review Facebook Checkin</h2>
				</div>
				<div class="body">
				  <% if @checkinarr.nil? %>
						<p>No Facebook check in </p>
						<% else %>
						 <%# i=0 %>
						
						  <% @checkinarr.each do |loc| %>
								<%# if i== 6 %>
								   <%# break %>
								<%# else %>
								   <%# i=i+1 %>
								<%# end %>
					   
						<%= link_to loc.name,"/posts/new?name=#{loc.name}&addr=#{loc.address}&zip=#{loc.zipcode}&city=#{loc.city}" %><br/>
                                                <b> <%= loc.address %>, <%= loc.city %></b>
						<br/>	
						<% end %>
						
						<% end %>
				</div>
			  </div>
			  <div class="brown_box">
				<div class="head">
				  <h2>BROWSE VOX CATEGORY</h2>
				</div>
				<div class="body">
				  <div class="sb_cat_links">
					<ul>
						<% Category.all.each do |category| -%>
						 
									<li><%= link_to category.name,"/" %></li>
						 
								<% end %>
					</ul>
				  </div>
				</div>
			  </div>
			  <%#*<div class="brown_box">%>
				<%#*<div class="head">%>
				  <%#*<h2>QUICK STATS</h2>%>
				<%#*</div>%>
				<%#*<div class="body">%>
					<%#*<div class="sb_quick_stats">%>
					  <%#*<div class="row">%>
						<%#*<span class="left">683,191</span>%>
						<%#*<span class="right">Complaints Filed</span>%>
					  <%#*</div>%>
					  <%#*<div class="row">%>
						<%#*<span class="left">29,293</span>%>
						<%#*<span class="right">Complaints Resolved</span>%>
					  <%#*</div>%>
					  <%#*<div class="row">%>
						<%#*<span class="left">31,312</span>%>
						<%#*<span class="right">Compliments Given</span>%>
					  <%#*</div>%>
					  <%#*<div class="row">%>
						<%#*<span class="left">2,231</span>%>
						<%#*<span class="right">Questions Asked</span>%>
					  <%#*</div>%>
					  <%#*<div class="row">%>
						<%#*<span class="left">1,982</span>%>
						<%#*<span class="right">Questions Answered</span>%>
					  <%#*</div>%>
					<%#*</div>%>
				<%#*</div>%>
			  <%#*</div>%>
		  </div>
		  <div class="clr"></div>

</div>

</div>
<div class="clear_footer"></div>
</div>

 <%# if (!@totalclose.nil? and @totalclose.size >0) %>
                                                                          <%#*<div class="main">%>
                                                                                  <%#*<h1 class="title">RECENTLY RESOLVED VOX</h1>%>
                                                                                  <%#*<div class="body">%>
                                                                                          <%#*<div class="main_box">%>
                                                                                            <%# @totalclose.each do |post| %>
                                                                                                  <%#= render "/layouts/displaydashboardpost", :post=>post %> 
                                                                                            <%# end %>
                                                                                          <%#*</div>%>
                                                                                  <%#*</div>%>
                                                                          <%#*</div>%>
                                                          <%# end %> 

                                                          <%# if (!@totalopen.nil? and @totalopen.size >0) %>
                                                              <%#*<div class="main">%>
                                                                                          <%#*<h1 class="title">Latest Vox</h1>%>
                                                                                          <%#*<div class="body">%>
                                                                                                  <%#*<div class="main_box">%>
                                                                                                          <%# alreadydisplayed = true %>
                                                                                                          <%# @totalopen.each do |post| %>
                                                                                                             <%#= render "/layouts/displaydashboardpost", :post=>post %>
                                                                                                          <%# end %>
                                                                                                  <%#*</div>%>
                                                                                          <%#*</div>%>
                                                              <%#*</div>%>
                                                          <%#  end %>

                                                          <%# if (!@totalopen.nil? and @totalopen.size >0 and alreadydisplayed == false) %>
                                                                                  <%#*<div class="main">%>
                                                                                          <%#*<h1 class="title">Latest Voxs</h1>%>
                                                                                          <%#*<div class="body">%>
                                                                                                  <%#*<div class="main_box">%>

                                                                                                          <%# @totalopen.each do |post| %>

                                                                                                          <%#= render "displaydashboardpost", :post=>post %>            
                                                                                                          <%# end %>
                                                                                               <%#*</div>%>
                                                                                          <%#*</div>%>
                                                                                  <%#*</div>%>           
                                                          <%# end %>