<body id="dashboard">
<div class="main">
         <div class="pageHeader"></div><!-- .pageheader -->
			<div class="main">
	        	<div class="content">
	            	<div class="column left">
	                	<h3>My Recent Open Voxes</h3>
						<ul class="voxes">
							<% @totalopen.each do |post| %>
							<li>
								 <div class="vox open">
									 <p class="type">Complaint</p>
									 <p class="date"><%= post.created_at %></p>	
									 <p class="text">
										 <%= post.description.split(' ')[0,10].inject{|sum,word| sum + ' ' + word}  %>
										 <a href="" class="read_more"> 
									   	  <%= link_to  "Read More","/posts/#{post.parameterize}",:class=>"read_more" %> 
									   </a>
								   </p> 
								   <dl>
	                             	  <dt>Category:</dt>
									  <dd><%= post.location.category %></dd>
									 
								  </dl>
								  <dl>
									  <dt>Company:</dt>
									  <dd><%= post.location.name %></dd>
									  <dt>Posted By:</dt>
									  <dd><%= User.find(post.user_id).username %></dd>
								  </dl>
								  <%= link_to "View","/posts/#{post.parameterize}",:class=>"buttonVox" %> 
								  <!-- <%= link_to  "Edit","/posts/#{post.parameterize}/edit",:class=>"buttonVox" %>  -->
								  <%= link_to "Resolve","/posts/resolvevox/#{post.parameterize}/",:class=>"buttonVox" %>
	                             
							  	</div>
							  </li>
							  <% end %>
						  </ul>
						  <!-- <a class="buttonView" href="" title="view more open Vox">view more</a> -->
					  </div>
					  <div class="column right">
						  <h3>My Recent Resolved Voxes</h3>
						  <ul class="voxes">
							  <% @totalclose.each do |post| %>
							  <li>
							 	 <div class="vox resolved">
							 		<p class="type">Complaint</p>
									<p class="date"><%= post.created_at.to_date %></p>	
									<p class="text">
								   	 <%= post.description.split(' ')[0,10].inject{|sum,word| sum + ' ' + word}  %>
								   </p> 
								   <dl>
									   <dt>Category:</dt>
									   <dd><%= post.location.category %></dd>
									   <dt>Company:</dt>
									   <dd><%= post.location.name %></dd>
								   </dl>
	                         	  <dl>
	                             	 <dt>Posted By:</dt>
									 <dd><%= User.find(post.user_id).username %></dd>
								 </dl>
								  <%= link_to "Read More","/posts/#{post.parameterize}",:class=>"buttonVox" %> 
							 </li>
							 <% end %>
						 </ul>
					 </div>     
		             <div class="categories">
		                 <h3>Browse vox by categories</h3>
		 				<% count = 0%>
		 				<% Category.all.each do |category| %>
		 					<%if count == 0%>
		 						<ul class="items">
		 					<% end %>
		 					<% count+=1 %>		
		 					<li><%= link_to category.name , "/browse?category=#{category.name}"%>
		 					<%if count == 4 %>
		 						</ul>
		 						<% count = 0%>
		 					<% end %>
		 				<% end %>
		             </div>
				</div><!-- .content -->
			</div><!-- .main -->
		</div><!-- .main -->
</body>