    <h3>Welcome <%= (session[:user]).firstname %></h3>
    <p>What's the matter ? </p>
    <%= form_tag("/posts/search", :method=>:get) do %>
      <p>
         <%= hidden_field_tag :type,"post" %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
    <% if session[:user] %>
          <div class="left_section_part flt">
                              <% if (!@totalclose.nil? and @totalclose.size >0) %>
                                                <div class="main">
                                                        <h1 class="title">RECENTLY RESOLVED VOX</h1>
                                                        <div class="body">
                                                                <div class="main_box">
                                                                  <% @totalclose.each do |post| %>
                                                                        <%= render "displaydashboardpost", :post=>post %> 
                                                                  <% end %>
                                                                </div>
                                                        </div>
                                                </div>
                                <% end %> 

                                <% if (!@totalopen.nil? and @totalopen.size >0) %>
                                    <div class="main">
                                                                <h1 class="title">Latest Vox</h1>
                                                                <div class="body">
                                                                        <div class="main_box">
                                                                                <% alreadydisplayed = true %>
                                                                                <% @totalopen.each do |post| %>
                                                                                <%= render "displaydashboardpost", :post=>post %>            

                                                                                <% end %>
                                                                                <% end %>
                                                                        </div>
                                                                </div>
                                    </div>
                                <%  end %>

                                <% if (!@totalopen.nil? and @totalopen.size >0 and alreadydisplayed == false) %>
                                                        <div class="main">
                                                                <h1 class="title">Latest Voxs</h1>
                                                                <div class="body">
                                                                        <div class="main_box">

                                                                                <% @totalopen.each do |post| %>

                                                                                <%= render "displaydashboardpost", :post=>post %>            
                                                                     </div>
                                                                </div>
                                                        </div>           

                                <% end %>
                                                                        
		</div>
			<div class="sidebar flr">
				<div class="brown_box">
					<div class="body">
					  <% if @checkinarr.nil? %>
						<p>No Facebook check in </p>
						<% else %>
						<p><b>Review Your Facebook Checkin</b></p>
						 <%# i=0 %>
						
						  <% @checkinarr.each do |loc| %>
								<%# if i== 6 %>
								   <%# break %>
								<%# else %>
								   <%# i=i+1 %>
								<%# end %>
					   
						<%= link_to loc.name,"/posts/new?name=#{loc.name}&addr=#{loc.address}&zip=#{loc.zipcode}&city=#{loc.city}" %><br/>
								 <%= loc.address %>, <%= loc.city %>
							
						<% end %>
						
						<% end %>
					</div>
			    </div>
            
				<div class="brown_box">
					<div class="head">
					  <h2>Browse Vox By Category</h2>
					</div>
					<div class="body">
						<div class="sb_cat_links">
							<ul>
								<% Category.all.each do |category| -%>
						 
									<li><%= link_to category.name,"/" %></li>
						 
								<% end %>
							</ul>
						</div>
					</div>
			    </div>
            </div>  
          
               
    <% end %>