    <h3>Welcome <%= (session[:user]).firstname%></h3>
    <p>What is the matter ? </p>
    <%= form_tag("/posts/search", :method=>:get) do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
    <% if session[:user] %>
    <table>
      <tr>
        <table>
          <th>Recently Resolved</th>
          <% if (!@totalclose.nil? and @totalclose.size >0) %>

          <% else %>
          <tr><td>Waiting for first.</td></tr>
          <%  end %>
        </table>
      </tr>
        <table>
          <th>Latest Vox</th>
          <% if (!@totalopen.nil? and @totalopen.size >0) %>
          <tr>
            <table border="1px solid black" border-collapse="collapse">
               <% @totalopen.each do |post| %>
                <tr>
                  <td> 
                    <b><%= post.question %></b>
                  </td>
                  <td>
                    <%= post.posttype %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <%= post.description %>
                  </td>
                </tr>
                <tr>
                  <td>0 backers | <%= post.comments.size %> comments</td>
                  <td><%= post.created_at %>  </td>
                </tr>
               <% end %>
            </table>
          </tr>
          <% else %>
          <tr><td>Waiting for first.</td></tr>
          <%  end %>
        </table>
        <% end %>

    </table>   